@import './../../mixins/mixins';


.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $primary_color;
    color: $text_color;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}