$text_color: #EEEEEE;
$primary_color: #76ABAE;
$main_color: #222831;
$block_color: #31363F;

@mixin mainColor {
    color: $text_color;
    background-color: #222831;
}

@mixin blockColor {
    background-color: #31363F;
    color: $text_color;
}

