@import '../../mixins/mixins';

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text_color;
    padding: 0 50px;

    .logo {
        cursor: pointer;
    }

    .auth {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        a:first-child {
            text-decoration: none;
            color: $text_color;
            background-color: $primary_color;
            padding: 10px 20px;
            border-radius: 10px;
        }
        a:last-child {
            text-decoration: none;
            color: $primary_color;
            padding: 10px 20px;
        }
        a:hover {
            opacity: 0.7;
        }
    }
}

.authStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    user-select: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.authStatus:hover {
    background-color: #353535;
}

.outlet {
    width: 100%;
    min-height: 90vh;
    @include mainColor;
}
.footer {
    margin-top: 10vh;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include blockColor;
}