@import './mixins/mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
}


#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;

    .container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        @include mainColor;
    }
}